.right-container{
    position: fixed;
}
.right-container a{
    position: relative;
    color: white;
    cursor: pointer;
}
.icon-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 25px;
    margin-top: 200px;
}
.hover-div{
    position: absolute;
    border: 1px solid white;
    border-right: 0;
    padding: 5px;
    top: -7px;
    right: 32px
}
