.intro-container p{
    color: #b9b5b5;
}

.index-module_type__E-SaG{
    font-size: 78px;
    height: 400px;
}
.bottom-phrase{
    margin-top: 20px;
    line-height: 25px;
    max-width: 500px;
}
.qtd-projects{
    margin-top: 150px;
}
.qtd-projects h3{
    color: #00C9FF;
    font-size: 60px;
}
.qtd-projects p{
    margin-top: 15px;
}
.icon{
    font-size: 20px;
}
  
