.container-respon .left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    padding: 30px;
    margin: 50px auto 50px auto;
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
}
.container-respon .left-container .email a {
    justify-content: center;
}

.container-respon #left-container{
    width: auto;
    padding: 0 85px;
}
.container-respon #main-container{
    width: auto;
    padding: 0 80px;
}
.container-respon .pdf-btn a {
    position: absolute;
    right: 120px;
    text-align: center;
    color: white;
    width: 110px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.25s;
}
#left-container span{
    cursor: pointer;
    position: fixed;
    right: 28px;
    top: 90px;
    z-index: 1;
    font-size: 35px;
    animation: spin 2s linear infinite;
    height: 35px;
    align-self: center;
}
#left-container .menu-appear span {
    cursor: pointer;
    position: fixed;
    z-index: 3;
    right: 28px;
    top: 90px;
    font-size: 35px;
    animation: spin 2s linear infinite;
    height: 35px;
    align-self: center;
}
body.menu-appear-active{
    background-color: rgba(4, 4, 31, 0.9);
}
body.menu-appear-active .left-container{
    opacity: 0.5;
}
body.menu-appear-active #main-container{
    opacity: 0.5;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
  
@media (max-width: 700px){

    .container-respon .index-module_type__E-SaG{
        font-size: 50px;
        height: 315px;
    }
}
@media (max-width: 910px){

    .container-respon #main-container .portifolio-container .portifolio-line .project{
        width: 100%;
    }
    .container-respon #main-container .portifolio-container .portifolio-line .project h2 {
        position: absolute;
        display: inline;
        font-size: 25px;
        color: white;
        bottom: -70px;
        left: 0px;
        padding-bottom: 5px;
        margin-bottom: 0px;
    }
}