.curriculum-container {
    visibility: hidden;
    transform: translateY(100px);
    transition: opacity 2s ease, transform 2s ease;
    margin-bottom: 100px;
}
.aparece {
    visibility: visible;
    transform: translateY(0);
}
.curriculum-container h2{
    font-size: 50px;
}
.curriculum-container h2 span{
    color: #00C9FF;
}