.right-container{
    position: fixed;
}
.right-container a{
    color: white;
    gap: 15px;
}
.icon-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 25px;
    margin-top: 200px;
}
